/* News Ticker backend page */

body {
    font-family: 'Muli', sans-serif;
    background-color: #efefef;
}
nav {
    color: #fff;
    background-color: rgba(31, 152, 234, 0.82);
    width: 100%;
    height: 64px;
}
.navbar{
    margin-bottom: 0px;
    border: none;
}
p.brand-logo.center a {
    color: #fff;
    font-size: 28px;
}
a.help {
    float: right;
    color: rgb(255, 255, 255);
    background-color: rgb(15, 105, 148);
    text-align: center;
    letter-spacing: 0.5px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.2s ease-out;
    display: inline-block;
    line-height: 36px;
    text-transform: uppercase;
    padding: 0px 2rem;
    box-shadow: 2px 2px 2px #444;
    margin-top: 12px;
    font-size: 14px !important;
}
nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    line-height: 64px;
    width: 100%;
    text-align: center;
}
a:focus {
    text-decoration: none;
}
.basic-container {
    display: inline-block;
    width: 100%;
    padding: 35px 20px 20px 20px;
}
.dashboardpage .col-md-3 {
    padding: 0;
    margin: 0 5px;
    max-width: 257px;
}
a:hover{
    text-decoration: none;
}
.dashboard-showtittle {
    height: auto;
    border-color: #ddd !important;
    border: 1px solid transparent;
    box-shadow: 1px 1px 2px #ababab;
    margin-bottom: 20px;
    text-align: center;
    background-color: #fff;
    display: inline-block;
}
.dashboard-showtittle a {
    color: #313131;
    text-transform: uppercase;
}
.news-tittle{
    padding: 6px 0;
    display: inline-block;
}
i.fa.fa-cogs {
    margin: 6px;
    width: 100%;
    color: #555;
}
.dashboardpage i {
    color: #313131;
}
.sub-maindiv {
    padding: 0;
    border-color: #ddd !important;
    border-top: 1px solid transparent;
    background-color: #eee;
    height: 30px;
}
.div-width{
    width: 30%;
}
.div-width1{
    width: 40%;
}
.sub-showdiv {
    padding: 0px;
    border-color: #aaa !important;
    border-left: 1px solid transparent;
}
.sub-showdiv:first-child {
    border-left: none;
}
.sub-showdiv a {
    text-transform: none;
    font-size: 11px;
}
.sub-showdiv i {
    padding: 9px 0;
    margin-right: 6px;
}
.alert.show {
    padding: 10px;
    margin-bottom: 15px;
}
.alert-dismissable .close{
    right: 0px;
}
ul.dashboard-note{
    padding-left: 25px;
}
.dashboard-note li {
    display: list-item;
}

/* Basic App Help Page */
.card {
    position: relative;
    overflow: hidden;
    margin: 3.5rem 0 1rem 0;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.card .card-content {
    padding: 20px;
    border-radius: 0 0 2px 2px;
}
/*General settings*/
.sub-top-heading {
    margin: 0;
    padding-bottom: 10px;
    font-size: 24px;
    text-shadow: 1px 1px 2px #aaa;
    color: #313131;
    display: inline-block;
}
.rpb-block{
    width: 50%;
}
.related-pb-div{
    width: 100%;
    background-color: #ddd;
    margin-bottom: 15px;
    padding: 15px;
    display: inline-block;
}
.show_checkbox{
    margin: 10px 0;
}
button.btn.tooltipped.tooltipped-s {
    position: absolute;
    bottom: 1px;
    right: 16px;
    background-color: #ccc;
}
.number_per_row{
    width: 27%;
    display: inline-block;
    margin-left: 15px;
}
.related_pb_note{
    font-style: italic;
    font-size: 12px;
    margin-top: 10px;
}
.modal-dialog {
    width: 80%;
}
.overlay{
    position: fixed; 
    display: none; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}
.input-group .form-control{
    z-index: 0;
}
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group{
    z-index: 0;
}
/*Help page start*/
.help h5{
    font-size: 24px;
}
.help h6{
    font-size: 16px;
}
.help a{
    color: #039be5;
}
.help ul{
    padding-left: 0px;
}
.limit {
    margin-left: 20px;
}
ul.limit li {
    list-style-type: disc !important;
    display: list-item;
}
/*Help page end*/
.product_detail{
    margin-right: 20px;
}
.back_button{
    margin-left: 12px;
}
#search_blog{
    margin-bottom: 10px;
}
.rpb_blog_title{
    width: 40%;
    display: inline-block;
    margin-right: 10px;
}
