/*
    related-products-and-blogs.css -VijayChauhan
*/
/*.zestard-productlist{
    height: 600px;
    overflow: hidden;
    display: block;
}
#owl-example {
    width: 26.02%;
    height:500px;
    margin:0 auto;
}*/
/*.zestard-bloglist, .zestard-productlist {
    width: 360px;
    margin: 0 auto;
}
.owl-carousel .owl-stage-outer{ 
    max-width:300px;
    margin:0px auto;
}
.owl-theme .owl-nav {
    position: absolute;
    top: 50%;
    left: 0px;
    right: 0px;
}
.owl-carousel .owl-nav .owl-prev {
    position: absolute;
    left: 0px;
}
.owl-carousel .owl-nav .owl-next {
    position: absolute;
    right: 0px;
}*/

.full-width-list .item {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    padding: 4px;
}
.full-width-list .item img {
    width: 100%;
}
.full-width-list .item h4 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 30px;
    margin-top: 15px;
    margin-bottom: 0px;
}
.full-width-list .item p {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 400;
}
.sidebar-list {
    padding: 15px 15px 0;
    border: 1px solid #ddd;
}
.sidebar-list .item {
    width: 100%;
    display: block;
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
}
.sidebar-list .item .blog-thumb-img {
    border: 1px solid #ededed;
    padding: 5px;

}
.sidebar-list .item .blog-thumb-img, .sidebar-list .item .caption {
    width: 50%; 
    display: block; 
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}
.sidebar-list .item img {
    width: 100%;
}
.sidebar-list .item h4 {
    line-height: 22px;
}
.sidebar-list .item .caption p {
    margin-bottom: 0px;
    line-height: 20px;
}

.sidebar-slider{

    width:26.02%;
    height:600px;
    margin:0 auto;
    overflow:hidden;
    display:block;    
}
.sidebar-list{

    width:26.02%;
    margin:0 auto;
    overflow:hidden;
    display:block;    
}
.prod-body .content-right {
    float: none;
    overflow: hidden;
}
.product_page_title{
    text-align: center;
}
.blog_page_title{
    text-align: center;
}
.zestard-bloglist .full-width-list .item{
    /* width: 24%;
    padding: 4px;
    margin-right: 10px; */
}
.zestard-productlist .sidebar-list{
    width: 31.02%;
}
.blog_page_title,.product_page_title{
    margin-bottom: 30px;
}
.zestard-bloglist .sidebar-list .item .blog-thumb-img,.zestard-productlist .sidebar-list .item .blog-thumb-img{
    border: 0;height: auto;
    padding-left: 5px;
    padding-right: 5px;
}
.zestard-bloglist .sidebar-list .item,.zestard-productlist .sidebar-list .item{
    margin-bottom: 10px;
}
.zestard-bloglist  .sidebar-list,.zestard-productlist  .sidebar-list{
    padding-bottom: 5px;
}
.zestard-bloglist  a.blog-thumb-img,.zestard-bloglist .full-width-list a.blog-thumb-img{
    width: 100%;
    display: block;
    height: 250px;
    position: relative;
}
.zestard-bloglist .owl-carousel .owl-item img,.zestard-bloglist .full-width-list .item img{
    width: auto !important;
    width: 100%;
    max-height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.zestard-productlist a.blog-thumb-img {
    width: 100%;
    height: 250px;
    position: relative;
    display: block;
}
.zestard-productlist .caption {
    height:  125px;
}
.zestard-productlist .owl-carousel .owl-item img {
    /*width: auto;*/
    width: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.zestard-productlist .caption h4 ,.zestard-bloglist .caption h4{
    height: 50px;
    margin-bottom: 4px;
    margin-top: 8px;
    overflow: hidden;
}
.zestard-productlist p.flex-text.text-muted {
    height:  55px;
}
.zestard-bloglist .caption {
    position: relative;
    top: auto;
    margin: 0px;
    transform: translate(0, 0px);
    text-align: center;
}
/*.zestard-productlist .thumbnail{
    max-width: 200px;
}*/
.zestard-productlist .caption {
    position: relative;
    top: auto;
    margin: 0px;
    transform: translate(0, 0px);
    text-align: center;
}
/*.zestard-bloglist .thumbnail{
    max-width: 200px;
}*/




